---
import '../styles/global.css';
const allowIndex = import.meta.env.PUBLIC_ALLOW_INDEX === "true";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<meta name="robots" content={allowIndex ? "index, follow" : "noindex, nofollow"} />
		<title>BateaDev | Desarrollo de software y automatización</title>
		<meta name="description" content="Creamos software, automatizaciones y soluciones con inteligencia artificial para empresas y emprendedores." />
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
